@tailwind base;
@tailwind components;
@tailwind utilities;

/* previous one */
:root {
  --color-neutral-900: #111827; /* bg color for sidebar */
  --color-neutral: #6b7280;
  --color-neutral-50: #f9fafb;
  --color-neutral-100: #f3f4f6;
  --color-neutral-200: #e5e7eb;
  --color-neutral-300: #d1d5db;
  --color-neutral-400: #9ca3af; /* text color for inactive sidebar element */
  --color-neutral-500: #6b7280;
  --color-neutral-600: #4b5563;
  --color-neutral-700: #374151;
  --color-neutral-800: #1f2937;
  --color-neutral-900: #111827;
}

@layer components {
  .border-light {
    @apply border-gray-200;
  }
}
